In [1]:
import pandas as pd
import numpy as np

In [13]:
file = pd.read_excel('insurance_normalized_notzero.xlsx')
file

      Unnamed: 0   age  sex  bmi  children  smoker      charges
0              0  0.25 -0.5  0.6       1.2     0.5  16884.92400
1              1  0.25  0.5  0.8       1.0    -0.5   1725.55230
2              2  0.25  0.5  0.8       0.6    -0.5   4449.46200
3              3  0.50  0.5  0.4       1.2    -0.5  21984.47061
4              4  0.50  0.5  0.6       1.2    -0.5   3866.85520
...          ...   ...  ...  ...       ...     ...          ...
1333        1333  1.00  0.5  0.8       0.6    -0.5  10600.54830
1334        1334  0.25 -0.5  0.8       1.2    -0.5   2205.98080
1335        1335  0.25 -0.5  1.0       1.2    -0.5   1629.83350
1336        1336  0.25 -0.5  0.6       1.2    -0.5   2007.94500
1337        1337  1.25 -0.5  0.6       1.2     0.5  29141.36030

[1338 rows x 7 columns]

In [14]:
charge_max = file['charges'].max()
charge_min = file['charges'].min()

new_charges = file['charges']/charge_max

del file['Unnamed: 0']
del file['charges']

file['charges'] = new_charges
file

       age  sex  bmi  children  smoker   charges
0     0.25 -0.5  0.6       1.2     0.5  0.264777
1     0.25  0.5  0.8       1.0    -0.5  0.027059
2     0.25  0.5  0.8       0.6    -0.5  0.069773
3     0.50  0.5  0.4       1.2    -0.5  0.344744
4     0.50  0.5  0.6       1.2    -0.5  0.060637
...    ...  ...  ...       ...     ...       ...
1333  1.00  0.5  0.8       0.6    -0.5  0.166230
1334  0.25 -0.5  0.8       1.2    -0.5  0.034593
1335  0.25 -0.5  1.0       1.2    -0.5  0.025558
1336  0.25 -0.5  0.6       1.2    -0.5  0.031487
1337  1.25 -0.5  0.6       1.2     0.5  0.456973

[1338 rows x 6 columns]

In [15]:
file.to_excel('insurance_final.xlsx')